<ion-header-bar align-title="left" class="bar-dark">
	<div class="h1 title ziliao">
		<a class="icon ion-arrow-left-c" href="#/tab/tab-dash"></a>
		<span>微信</span>
	</div>
	<div class="buttons">

	</div>
</ion-header-bar>
<ion-view view-title="" style="background-color: white;">
	<ion-content>
		<ion-list>
			<!--<div class="row login-denglu">
				<div class="col login-qq">
					<div class="login-qq1">
						<img src="img/qq.jpg"/>
					</div>
				</div>
				<div class="col col-10"></div>
				<div class="col login-weibo">
					<div class="login-qq2">
						<img src="img/weibo.jpg"/>
					</div>
				</div>
			</div>-->
			<!--<div class="row login-disanfang">
				<div class="col">———— &nbsp;&nbsp;通过第三方登录&nbsp;&nbsp; ————</div>
			</div>-->
			<!--<div class="row login-diqu">
				<div class="col col-33">国家/地区</div>
				<div class="col"></div>
				<div class="col login-diqu1">中国</div>
			</div>-->
			<form action="" method="post" class="relative login-a">
				<div class="login-quhao">
					+86
				</div>
				<div class="login-dianhua1">
					<input class="login-dianhua" placeholder="请输入手机号" ng-model="master.tel" type="text" name="" id="" value="" /style="width: 85%;border-bottom: 1px solid #999;padding-left: 16%;">
				</div>

				<div class="login-mima ion-locked">
				</div>
				<div class="login-dianhua1">
					<input class="login-dianhua" placeholder="请输入密码" ng-model="master.password" type="password" name="" id="" value="" /style="width: 85%;border-bottom: 1px solid #999;padding-left: 16%;">
				</div>
				<div class="login-yanzhengma1" style="display: none;">
					<input type="button" name="" id="" value="获取验证码" class="login-yanzhengma" />
					<input type="text" name="" id="" value="" class="login-yanzhengma2" />
				</div>
			</form>
			<div class="login-but">
				<button ng-click="login()" class="button button-block button-positive">
  					登录
				</button>
			</div>
			<div class="row login-yiyou">
				<div class="col"><a href="#/register">注册新账号</a><span style="display: none;">登录已有账号</span></div>
				<div class="col">找回密码</div>
			</div>
		</ion-list>
	</ion-content>
</ion-view>