<ion-view view-title="">
	<ion-header-bar align-title="midlle" class="bar-dark">
		<div class="h1 title ziliao">
			<a class="icon ion-arrow-left-c" href="#/tab/dash"></a>
			<span class="text-align:center;">设置</span>
		</div>
		<div class="buttons">
			<button class="button button-icon icon ion-person"></button>
		</div>
	</ion-header-bar>
	<ion-content class="hui">
		<div class="list">
			<div class="rj-contacts-index-bar"></div>
			<ion-list>
				<div class="rj-contacts-index-bar"></div>
				<div class="item item-icon-left" href="#">
					<i class="icon ion-person blue"></i>
					<span>绑定手机号</span>
					<a href="#">
						<span class="item-note">
            				立即绑定
          				</span>
					</a>
				</div>
				<div class="rj-contacts-index-bar"></div>
				<div class="item item-icon-left" href="#">
					<i class="icon ion-locked blue"></i>
					<span>身份验证</span>
					<a href="#">
						<span class="item-note">
            				立即验证
          				</span>
					</a>

				</div>
				<div class="rj-contacts-index-bar"></div>
				<div class="item item-icon-left item-toggle">
					<i class="icon ion-volume-medium blue"></i>
					<span>声音</span>
					<span class="item-note">
            			<label class="toggle toggle-positive">
             				<input type="checkbox" checked="">
             				<div class="track">
               				<div class="handle"></div>
             				</div>
          			 	</label>
          			</span>
				</div>
				<div class="item item-icon-left item-toggle">
					<i class="icon ion-ios-moon blue"></i>
					<span>夜间模式</span>
					<span class="item-note">
            			<label class="toggle toggle-positive">
             				<input type="checkbox" checked="">
             				<div class="track">
               				<div class="handle"></div>
             				</div>
          			 	</label>
          			</span>
				</div>
				<div class="item item-icon-left item-toggle">
					<i class="icon ion-image blue"></i>
					<span>无图模式</span>
					<span class="item-note">
            			<label class="toggle toggle-positive">
             				<input type="checkbox" checked="">
             				<div class="track">
               				<div class="handle"></div>
             				</div>
          			 	</label>
          			</span>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-trash-a blue"></i>
					<span>清除图片缓存</span>
				</div>
				<div class="rj-contacts-index-bar"></div>
				<div class="rj-contacts-index-bar"></div>
				<a class="item item-icon-left" href="#/login">
					<i class="icon ion-power red"></i>
					<span>退出登录</span>
				</a>
			</ion-list>
		</div>
	</ion-content>
</ion-view>