<ion-side-menus>
	<!-- 中间内容 -->
	<ion-side-menu-content>
		<ion-header-bar align-title="left" class="bar-dark">
			<!-- <div class="head" menu-toggle="left">
				<img ng-src="{{imgs}}" />
			</div> -->
			<div class="h1 title ">设置</div>
			<div class="head">
				
			</div>
			<!--<button class="button no-animation button-icon icon ion-android-camera ">
        </button>-->
		</ion-header-bar>

		<ion-content class="hui">
		<div class="list">
			<div class="rj-contacts-index-bar"></div>
			<ion-list>
				<div class="rj-contacts-index-bar"></div>
		            
		        <a href="#/dash/information">
				<div class="item item-icon-left" >
					<i class="icon ion-person blue" ></i>
					<span>个人信息</span>
					
						<!--<span class="item-note">
            				个人信息
          				</span>-->
			       
				</div>
				</a>
				
				
				
				<div class="rj-contacts-index-bar"></div>
				<div class="item item-icon-left" href="#">
					<i class="icon ion-locked  blue"  ></i>
					<span>身份验证</span>
					<!--<a href="#">
						<span class="item-note">
            				立即验证
          				</span>
					</a>-->

				</div>
				<div class="rj-contacts-index-bar"></div>

				
				<div class="item item-icon-left item-toggle">
					<i class="icon ion-volume-medium  blue" ></i>
					<span>声音</span>
					<span class="item-note">
            			<label class="toggle toggle-positive">
             				<input type="checkbox" checked="">
             				<div class="track">
               				<div class="handle"></div>
             				</div>
          			 	</label>
          			</span>
				</div>



				<div class="item item-icon-left item-toggle">
					<i class="icon ion-ios-moon blue" ></i>
					<span>夜间模式</span>
					<span class="item-note">
            			<label class="toggle toggle-positive">
             				<input type="checkbox" checked="">
             				<div class="track">
               				<div class="handle"></div>
             				</div>
          			 	</label>
          			</span>
				</div>
				<div class="item item-icon-left item-toggle">
					<i class="icon ion-image  blue" ></i>
					<span>无图模式</span>
					<span class="item-note">
            			<label class="toggle toggle-positive">
             				<input type="checkbox" checked="">
             				<div class="track">
               				<div class="handle"></div>
             				</div>
          			 	</label>
          			</span>
				</div>
				<div class="item item-icon-left">
					<i class="icon ion-trash-a blue" ></i>
					<span>清除图片缓存</span>
				</div>
				<div class="rj-contacts-index-bar"></div>
				<div class="rj-contacts-index-bar"></div>
				<a class="item item-icon-left" href="#/login">
					<i class="icon ion-power blue" ></i>
					<span>退出</span>
				</a>
			</ion-list>
		</div>
	</ion-content>
            






		
	</ion-side-menu-content>
	<!-- 左侧菜单 -->
	

</ion-side-menus>