<ion-header-bar align-title="left" class="bar-dark">
	<div class="head">
		<!--<img src="img/adam.jpg" />-->
	</div>
	<div class="h1 title">发现</div>
	<div class="head">

	</div>
</ion-header-bar>
<ion-view view-title="Account">
	<ion-content>
		<ion-list>
			<div class="rj-contacts-index-bar"></div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-aperture  blue"  ></i> 朋友圈
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<div class="rj-contacts-index-bar"></div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-ios-videocam blue"></i> 小剧场
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<div class="rj-contacts-index-bar"></div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-android-calendar blue"></i> 任务系统
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-university blue"></i> 新手课堂
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<div class="rj-contacts-index-bar"></div>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-wand blue"></i> 道具商城
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
			<a class="item item-icon-left item-icon-right" href="#">
				<i class="icon ion-cube blue"></i> 官方活动
				<i class="icon ion-chevron-right icon-accessory"></i>
			</a>
		</ion-list>
	</ion-content>
</ion-view>