@charset "utf-8";
img{
	max-width: 100%;
}
a:hover{
	color: #fff;
}


.relative{
	position: relative;
}
.wel-btn {
    position: absolute;
    bottom: 16%;
    left: 35%;
    font-size: 1.5rem;
    padding: 0.5rem 2.5rem;
    border: 1px solid #fff;
    color: #fff;
    background-color: #fe4974;
}
.am-slider-default .am-control-nav li {
    margin: 65px 6px;
    display: inline-block;
}

.am-slider-default .am-direction-nav a{
	display: none;
}
